[submodule "CactusEngine/vendor/spdlog"]
	path = CactusEngine/vendor/spdlog
	url = https://github.com/HaiBooLang/spdlog
[submodule "CactusEngine/vendor/GLFW"]
	path = CactusEngine/vendor/GLFW
	url = https://github.com/HaiBooLang/glfw
